.main{
    margin-left: 100px;
}
.cv{
    margin-left: 600px;
    
}
.as{
    display: flex;
}
.name{
    display: flex;
}
.li{
    display: flex;
}
.fa{
   display: flex;
}
.was{
    display: flex;

}
.was b{
    margin-top: 20px;
}
.opt{
    margin-left: 300px;

}
.po{
    margin-top: 10px;
    display: flex;
}
.AWAIS{

    margin-left: 130px;
    
}
   